---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;

$spacing-unit:     30px;

$blue-1:           #84C3FF;
$blue-2:           #329BFF;
$blue-3:           #226CB2;
$blue-4:           #143E66;
$blue-5:           #0A1F33;

$text-color:       $blue-5;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$grey-1:           #F4F5F5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$header-height: 60px;
$footer-height: 90px;



// Width of the content area
$content-width:    1100px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "grid",
        "layout",
        "syntax-highlighting"
;
