---
---

@import "index";

body {
  border-top: 8px solid var(--brand);
}

.testimonial {
  box-shadow: 0px 4px 60px rgba(1, 17, 32, 0.1);
  border-radius: 20px;
}

.testimonial__avatar {
  width: 52px;
  height: 52px;
}

.card {
  background: white;
  padding: 32px;
  box-shadow: 0px 4px 20px rgba(1, 17, 32, 0.1);
}
