---
layout: default
---

<section class="section">
  <h1 class="section-header section-header--intro">👋<br><br>Sed haec quis possit intrepidus aestimare tellus. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
</section>
{% if site.posts.size > 0 %}
  <section class="section">
    <h1 class="section-header">Projects</h1>
    <div class="project-menus">
      {% if site.categories.product_design %}
        <div class="project-menus__category">
          <h1 class="project-menus__category__header">Product design</h1>
          {% for post in site.categories.product_design %}
            <a href="{{post.url}}">{{post.title}}</a>
          {% endfor %}
        </div>
      {% endif %}
      {% if site.categories.code %}
        <div class="project-menus__category">
          <h1 class="project-menus__category__header">Code</h1>
          <ul>
            {% for post in site.categories.code %}
              <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
      {% if site.categories.side_projects %}
        <div class="project-menus__category">
          <h1 class="project-menus__category__header">Side projects</h1>
          <ul>
            {% for post in site.categories.side_projects %}
            <li><a href="{{post.url}}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </section>
{% endif %}
<section class="section">
  <h1 class="section-header">About</h1>
  <div class="about__content">
    <div class="about__avatar">
        <img src="images/avatar-square-2x.png" width="83">
    </div>
    <div class="about__text">
      Hi omnes lingua, institutis, legibus inter se differunt. Quo usque tandem abutere, Catilina, patientia nostra?
      <div class="row">
        <ul class="col">
          <li>Non equidem invideo, miror magis posuere velit aliquet. Ut enim ad minim veniam, quis nostrud exercitation.</li>
          <li>Git & github</li>
        </ul>
        <ul class="col">
          <li>Git & github</li>
          <li>Git & github</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h1 class="section-header">Header</h1>
</section>
<section class="section">
    <h1 class="section-header">Header</h1>
</section>