<header class="post-header">
  <h1>
    {% if post.title %}
      {{ post.title }}
    {% elsif page.title %}
      {{ page.title}}
    {% endif %}
  </h1>
  <p class="post-intro">
    {% if post.intro %}
      {{ post.intro }}
    {% elsif page.intro %}
      {{ page.intro}}
    {% endif %}
  </p>
</header>
<div class="post-content">
  {% if post.role %}
    {{ post.role }}
  {% elsif page.role %}
    {{ page.role}}
  {% endif %}
  {% if page %}
    {{ post.content }}
  {% endif %}
  {{content}}
</div>
