<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <!-- <script src="https://use.typekit.net/iyz6ybd.js"></script> -->
  <!-- <script>try{Typekit.load({ async: true });}catch(e){}</script> -->
  <!-- <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script> -->
  <script src="{{site.baseurl}}/script.js"></script>

  <!-- <script type="text/javascript">/*<![CDATA[*/
  (function(u, t, c, s, r) { !t[c] && (t[c] = { projectId: '57bf60a70c4ba9073f2825fb'}) && (r = u.createElement(s)) && (r.src = 'https://mobile.usabilitytools.com/recorder/tracker/tracker.js') && (u.head.appendChild(r)); })(document, window, 'UsabilityTools Session Recording', 'script');
  /*]]>*/</script> -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
</head>
