<header>
  <div class="d-flex flex-align-center flex-direction-column">
    <img src="../images/avatar.png" class="avatar">
    <a href="" class="menu-toggle"><i class="fas fa-bars"></i></a>
  </div>
  <div class="social-links">
    <a href="https://dribbble.com/gthierman" target="_blank">
      <i class="fab fa-dribbble"></i>
    </a>
    <a  href="https://www.linkedin.com/in/gthierman/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://github.com/gthierman" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </div>

</header>
<nav>
  <div class="spacing-stack-xl">
    <h4>Case studies</h4>

    {% for post in site.categories.case_studies  %}
      <a
        class="nav-link{% if page.url == post.url %} active{% endif %}"
        href="{{post.url}}"
        alt="{{ item.title }}"
      >
      <span class="status-dot"></span>
      {{post.title}}
      </a>
    {% endfor %}
  </div>
  <div class="spacing-stack-xl">
    <h4>Blog posts</h4>
    {% for post in site.categories.blog  %}
      <a
        class="nav-link{% if page.url == post.url %} active{% endif %}"
        href="{{post.url}}"
        alt="{{ item.title }}"
      >
      <span class="status-dot"></span>
      {{post.title}}
      </a>
    {% endfor %}
  </div>
</nav>
