<div class="left-sidebar">
  <!-- <nav class="global-nav">
    <a
      class="global-nav-link{% if page.url == "/" %} active{% endif %}"
      href="/"
      alt="about"
    >
      About
    </a>
    {% for item in site.data.navigation.nav-items %}
      {% for post in site.categories.[item.category] limit: 1  %}
        <a
          class="global-nav-link{% if page.url == 'item.category' or page.url contains item.category %} active{% endif %}"
          href="/{{item.category}}"
          alt="{{ item.title }}"
        >
          {{ item.title }}
        </a>
      {% endfor %}
    {% endfor %}
    <a class="global-nav-link" href="https://dribbble.com/gthierman" target="_blank">
      <i class="fab fa-dribbble"></i>
    </a>
    <a class="global-nav-link" href="https://www.linkedin.com/in/gthierman/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a class="global-nav-link" href="https://github.com/gthierman" target="_blank">
      <i class="fab fa-github"></i>
    </a>
  </nav> -->
</div>
