.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.inline {
  display: inline;
}

.flex {
  --align-items: center;
  --flex-direction: row;
  --align-self: initial;
  --align-content: initial;
  --justify-content: initial;
  --flex-wrap: initial;
  display: flex;
  align-items: var(--align-items);
  align-self: var(--align-self);
  align-content: var(--align-content);
  flex-direction: var(--flex-direction);
  justify-content: var(--justify-content);
  flex-wrap: var(--flex-wrap);
}

.flex > * {
  --flex: 0 0 auto;
  flex: var(--flex);
}

.direction-row {
  --flex-direction: row;
}

.direction-col {
  --flex-direction: column;
}

.wrap {
  --flex-wrap: wrap;
}

.nowrap {
  --flex-wrap: nowrap;
}

@each $name, $value in $spacing {
  .gap-#{$name} {
    gap: var(--spacing-#{$name});
  }
}

.items-center {
  --align-items: center;
}

.items-start {
  --align-items: flex-start;
}

.items-end {
  --align-items: flex-end;
}

.items-stretch {
  --align-items: stretch;
}

.items-baseline {
  --align-items: baseline;
}

.flex-none {
  flex: none;
}

// .align-self-center {
//   --align-self: center;
// }

// .align-self-start {
//   --align-self: flex-start;
// }

// .align-self-end {
//   --align-self: flex-end;
// }

// .align-self-stretch {
//   --align-self: stretch;
// }

.space-around { 
  --justify-content: space-around;
}
.space-between {
  --justify-content: space-between;
}

$breakpoint-sizes: [];
@each $breakpoint-name, $value in $breakpoints {

  // Loop over the breakpoints and build a list of breakpoint-specific custom properties with fallbacks
  $breakpoint-sizes: append($breakpoint-sizes, $breakpoint-name); 
  $flex-props: false;
  $previous-flex-props: false;
  @each $breakpoint-size in $breakpoint-sizes {
      @if $flex-props {
        $previous-flex-props: $flex-props;
      } @else {
        $previous-flex-props: var(--flex);
      };
      $flex-props: var(--#{$breakpoint-size}-flex, $previous-flex-props); 
  }

  @media screen and (min-width:#{$value} ) {
    .#{$breakpoint-name}\:block {
      display: block;
    }

    .#{$breakpoint-name}\:inline-block {
      display: inline-block;
    }

    .#{$breakpoint-name}\:inline-flex {
      display: inline-flex;
    }

    .#{$breakpoint-name}\:inline {
      display: inline;
    }

    .#{$breakpoint-name}\:flex {
      display: flex;
    }

    .flex > * {
      // --flex: #{$vars};
      flex: #{$flex-props};
    }

    .#{$breakpoint-name}\:direction-row {
      --flex-direction: row;
    }
    
    .#{$breakpoint-name}\:direction-col {
      --flex-direction: column;
    }

    .#{$breakpoint-name}\:wrap {
      --flex-wrap: wrap;
      flex-wrap: var(--flex-wrap);
    }
    .#{$breakpoint-name}\:nowrap {
      --flex-wrap: nowrap;
    }

    @each $name, $value in $spacing {
      .#{$breakpoint-name}\:gap-#{$name} {
        gap: var(--spacing-#{$name});
      }
    }
    
    .#{$breakpoint-name}\:items-center {
      --align-items: center;
    }
    
    .#{$breakpoint-name}\:items-start {
      --align-items: flex-start;
    }
    
    .#{$breakpoint-name}\:items-end {
      --align-items: flex-end;
    }
    
    .#{$breakpoint-name}\:items-stretch {
      --align-items: stretch;
    }
    
    .#{$breakpoint-name}\:items-baseline {
      --align-items: baseline;
    }
  }
}