// SPACING
@each $name, $value in $spacing {
  .m-#{$name} {
    margin: var(--spacing-#{$name});
  }
  .p-#{$name} {
    padding: var(--spacing-#{$name});
  }
}

@each $name, $value in $spacing {
  .my-#{$name} {
    margin: var(--spacing-#{$name}) 0;
  }
  .py-#{$name} {
    padding: var(--spacing-#{$name}) 0;
  }
  .mx-#{$name} {
    margin: 0 var(--spacing-#{$name});
  }
  .px-#{$name} {
    padding: 0 var(--spacing-#{$name});
  }
}

@each $name, $value in $spacing {
  .mb-#{$name} {
    margin-bottom: var(--spacing-#{$name});
  }
  .pb-#{$name} {
    padding-bottom: var(--spacing-#{$name});
  }
  .mt-#{$name} {
    margin-top: var(--spacing-#{$name});
  }
  .pt-#{$name} {
    padding-top: var(--spacing-#{$name});
  }
  .mr-#{$name} {
    margin-right: var(--spacing-#{$name});
  }
  .pr-#{$name} {
    padding-right: var(--spacing-#{$name});
  }
  .ml-#{$name} {
    margin-left: var(--spacing-#{$name});
  }
  .pl-#{$name} {
    padding-left: var(--spacing-#{$name});
  }
}

@each $name, $value in $breakpoints {
  $breakpoint: $name;
  @media screen and (min-width:#{$value} ) {
    @each $name, $value in $spacing {
      .#{$breakpoint}\:m-#{$name} {
        margin: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:p-#{$name} {
        padding: var(--spacing-#{$name});
      }
    }
    @each $name, $value in $spacing {
      .#{$breakpoint}\:my-#{$name} {
        margin: var(--spacing-#{$name}) 0;
      }
      .#{$breakpoint}\:py-#{$name} {
        padding: var(--spacing-#{$name}) 0;
      }
      .#{$breakpoint}\:mx-#{$name} {
        margin: 0 var(--spacing-#{$name});
      }
      .#{$breakpoint}\:px-#{$name} {
        padding: 0 var(--spacing-#{$name});
      }
    }

    @each $name, $value in $spacing {
      .#{$breakpoint}\:mb-#{$name} {
        margin-bottom: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:pb-#{$name} {
        padding-bottom: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:mt-#{$name} {
        margin-top: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:pt-#{$name} {
        padding-top: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:mr-#{$name} {
        margin-right: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:pr-#{$name} {
        padding-right: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:ml-#{$name} {
        margin-left: var(--spacing-#{$name});
      }
      .#{$breakpoint}\:pl-#{$name} {
        padding-left: var(--spacing-#{$name});
      }
    }
    .#{$breakpoint}\:p-none {
      padding: 0;
    }
    .#{$breakpoint}\:pl-none {
      padding-left: 0;
    }
    .#{$breakpoint}\:pr-none {
      padding-right: 0;
    }
    .#{$breakpoint}\:pt-none {
      padding-top: 0;
    }
    .#{$breakpoint}\:pb-none {
      padding-bottom: 0;
    }
  }
}
