// Scaffolding
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body {
  font-family: $font-family;
  @include font;
  margin: 0;
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
  max-height: 100%;
  overflow: hidden;
}
.layoutContainer {
  display: flex;
  flex: 1 1 auto;
}
.layoutContainer--post {
  max-width: 1000px;
  margin: 0 auto;
}

// Layout - Left side
.layoutLeft {
  flex: 1 1 auto;
}
.layoutContainer--home .layoutLeft{
  width: 20%;
  background: url('../images/portrait-large-desaturated.png') center;
  background-size: cover;
  min-width: 400px;
  max-width: 600px;
}
.layoutContainer--post .layoutLeft {
  padding: spacing(xxxl) spacing(xl);
  flex: 0 0 auto;
}

//Layout- Right side
.layoutRight {
  flex: 1 1 auto;
  overflow-y: auto;
}
.layoutContainer--home .layoutRight,{
  border-top: 6px solid color(accent);
}
.layoutRight__container {
  padding: 160px spacing(xl);
  max-width: 600px;
  margin: 0 auto;
}
.layoutContainer--post .layoutRight .layoutRight__container {
  padding: spacing(xxxl) spacing(xl);
  max-width: 800px;
}

// Type styles
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  @include font(h1);
  margin-bottom: spacing(l);
}
h2 {
  @include font(h2);
  margin-bottom: spacing(m);
}
.subheading {
  @include font(subheading);
}
a {
  color: color(accent);
  text-decoration: none;
}


img {
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  a {
    flex: 0 1 auto;
  }
}
