* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: $font-family;
  @include font-style(body-14);
  color: $text-subdued;
  margin: 0;
}

// Type styles
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
h1 {
  @include font-style(header-32);
  margin-bottom: spacing(32);
}
h2 {
  @include font-style(header-24);
  margin-bottom: spacing(32);
}
h3 {
  @include font-style(header-16);
  margin-bottom: spacing(32);
}
p {
  margin-bottom: spacing(32);
}
a , a:visited{
  color: $link-default;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  
  }
}
:focus {
  outline: 0;
  box-shadow: 0 0 0 4px $focus-border;
  border-radius: 4px;
}
img {
  max-width: 100%;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 spacing(60);
}