$blue: #005EBB;
$blue-subdued: #5DC2FF;
$grey-1: #F5F7F8;
$grey: #263238;
$grey-subdued: #667881;
$white: #fff;

$spacing-xs: 4px;
$spacing-s: 8px;
$spacing-m: 12px;
$spacing-l: 20px;
$spacing-xl: 32px;

$header-height: 56px;
$header-background-color: $grey-1;
$nav-color-active: $grey;
$nav-color-subdued: $grey-subdued;

$page-sidebar-width: 250px;

$content-padding: 60px;
$post-header-padding: $spacing-xl $content-padding;
$post-content-padding: $spacing-xl $content-padding;
$post-hero-padding: $content-padding;

$base-font-size: 14px;
$base-line-height: 18px;
$base-font-color: $grey;
$base-font-color-subdued: $grey-subdued;
$h1-font-size: 24px;
$h1-line-height: 28px;
$h1-spacing: $spacing-l;
$h2-font-size: 20px;
$h2-line-height: 24px;
$h2-spacing: $spacing-m;
$h3-font-size: 16px;
$h3-line-height: 20px;
$h3-spacing: $spacing-s;
$h4-font-size: 14px;
$h4-line-height: 18px;
$h4-spacing: $spacing-xs;
$p-spacing: $spacing-l;

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Proxima Nova","Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-color;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 700;
}
h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
  margin-bottom: $h1-spacing;
}
h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  margin-bottom: $h2-spacing;
}
h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  margin-bottom: $h3-spacing;
}
h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
  margin-bottom: $h4-spacing;
}
p {
  font-weight: 400;
  color: $base-font-color-subdued;
  margin-bottom: $p-spacing;
  max-width: 600px;
}
section {
  margin-bottom: $spacing-xl * 2;
  &:last-child {
    margin-bottom: 0;
  }
}

.post-header {
  padding: $post-header-padding;
}
.post-intro {
  margin: 0;
}
.post-content {
  padding: $post-content-padding;
}
.post-hero {
  background: $grey-1;
  min-height: 200px;
  height: 500px;
  padding: $post-hero-padding;
}
