header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background: color(grey-600);
  padding: spacing(l) 0 spacing(xl);
}
header .avatar {
  margin-bottom: spacing(s);
  img {
    box-sizing: content-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid color(white);
  }
}
header .menu-toggle {
  flex: 0 0 auto;
  margin-top: spacing(s);
  color: color(white);
  cursor: pointer;
  &:hover {
    color: color(brand);
  }
}
header .social-links {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  align-items: center;
  width: 100%;
  a {
    margin-top: spacing(l);
    flex: 0 0 auto;
    text-decoration: none;
    color: color(white);
  }
  a:hover {
    color: color(brand);
  }
}
