.global-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $global-header-height;
  background: $global-header-background-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $global-margin-x 0 $global-header-padding-x;
  border-top: $global-header-border-width solid $global-header-border-color;
}
.global-header-identity {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex: 0 0 auto;
  font-size: $font-size-small;
}
.global-header-identity-avatar {
  width: 30px;
  height:30px;
  margin-right: $spacing-m;
}
.global-header-identity-subtext {
  display: inline-block;
  margin-left: $spacing-m;
}
.global-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex: 0 0 auto;
}
.global-nav-link{
  color: $global-nav-link-color-subdued;
  text-decoration: none;
  padding: $global-nav-link-padding;
  font-size: $global-nav-link-size;
  &.active {
    color: $global-nav-link-color-active;
    font-weight: $font-weight-bold;
  }
}
.page {
  position: absolute;
  top: $global-header-height;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.page-sidebar {
  width: $page-sidebar-width;
  padding-top: $page-padding-y;
  padding-left: $page-sidebar-padding-x;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: scroll;

}
.page-sidebar-link {
  display: block;
  text-decoration: none;
  color: $page-sidebar-link-color;
  font-size: $page-sidebar-link-size;
  margin-bottom: $spacing-s;
  &.active {
    color: $page-sidebar-link-color-active;
  }
}
.page-content {
  padding-top: $page-padding-y;
  overflow: scroll;
  position: absolute;
  bottom: 0;
  top: 0;
  @media only screen and (min-width: 1261px) {
    left: 50%;
    max-width: 800px;
    width: 800px;
    margin-left: -400px;
    // left: auto;
  }
  @media only screen and (max-width: 1260px) {
    position: absolute;
    left: $page-sidebar-width;
    right: 0;
    padding-right: $global-margin-x;
  }

}
