$left-side-bar-width: 200px;
$meta-side-bar-width: 200px;
$meta-side-bar-bg-color: color(grey-100);
$global-nav-width: 230px;

.left-nav,
.content,
.content-wrapper,
.meta-sidebar {
  position: absolute;
}
.left-nav {
  width: $global-nav-width;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: $left-side-bar-width;
  padding: $global-padding spacing(l);
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;

}
.global-nav-link,
.social-links a {
  text-decoration: none;
}
.global-nav-link {
  display: block;
  margin-bottom: spacing(s);
}

.content-wrapper,
.content,
.meta-sidebar {
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  padding: $global-padding;
}
.content-wrapper {
  left: $left-side-bar-width;
  overflow: auto;
}
.content {
  right: $meta-side-bar-width;
  bottom: initial;
}
.meta-sidebar {
  left: initial;
  width: $meta-side-bar-width;
  background-color: $meta-side-bar-bg-color;
  padding-left: spacing(l);
  position: fixed;

}
.global-header-identity {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex: 0 0 auto;
  @include type(small);
}
.global-header-identity-avatar {
  width: 30px;
  height:30px;
  margin-right: spacing(m);
}
