$post-hero-padding: spacing(l);
.post {
    max-width: 800px;
    margin: 0 auto;
}
.post-title {
  margin-bottom: spacing(xs);
}
.post-tagline {
  @include type(tagline);
  margin-bottom: spacing(m);
}
.post-hero {
  height: 300px;
  position: relative;
  background: color(grey-200);
  border-radius: $border-radius;
  padding: $post-hero-padding;
  margin-bottom: spacing(xl);
}
.meta-data {
  display: flex;
  border-top: $border-light;
  border-bottom: $border-light;
  padding: spacing(xl) 0;
  margin-bottom: spacing(xl);
}
.post-meta-data-item {
  @include type(small);
  @include type(subdued);
  margin-right: spacing(xl);
  color: color(grey-200);
  flex: 0 0 auto;
  &:last-child {
    margin-bottom: 0;
  }
  strong {
    @include type(h4);
    display: block;
    width: 70px;
  }
}
img {
  border: $border-dark;
}
