$post-hero-padding: spacing(l);
.post {
  max-width: 1000px;
  margin: 0 auto;
}
.post-meta-data {
  display: flex;
  border-top: $border-light;
  border-bottom: $border-light;
  padding: spacing(l) 0;
  margin-bottom: spacing(xl);
}
.nav-active .post-meta-data {
  @include breakpoint(ipad-portrait) {
    flex-wrap: wrap;
  }
}
.post-meta-data-item {
  @include type-style(small);
  @include type-style(subdued);
  margin-right: spacing(xl);
  flex: 0 0 auto;
  &:last-child {
    margin-bottom: 0;
  }
  strong {
    @include type-style(h4);
    display: block;
    width: 70px;
  }
}
.nav-active .post-meta-data-item {
  @include breakpoint(ipad-portrait) {
    flex: 1 1 50%;
    margin-right: 0;
    margin-bottom: spacing(m);
    &:nth-last-child(-n+2) {
      margin: 0;
    }
  }
}
img {
  border: $border-dark;
}
