$colors: (
  brand: #1558be,
  grey-700: #000f24,
  grey-600: #434d5a,
  grey-100: #f5f7f9,
) !default;

$spacing: (
  xs: 4px,
  s: 8px,
  m: 12px,
  l: 16px,
  xl: 20px,
  xxl: 32px,
  xxxl: 60px,
) !default;

$font-sizes: (
  h1: 6rem,
  h2: 4rem,
  h3: 3.2rem,
  h4: 2.4rem,
  h5: 2rem,
  h6: 1.8rem,
  body: 1.6rem,
  small: 1.4rem,
) !default;

$font-weights: (
  regular: 400,
  bold: 700,
) !default;

$font-stacks: (
  serif:
    "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
) !default;

$container-sizes: (
  400: 400px,
  600: 600px,
  1000: 900px,
  1200: 1200px,
  1440: 1440px,
) !default;

// $type-scale: 1.125;
// $base-font-size: 14px
$breakpoints: (
  xs: 340px,
  s: 768px,
  m: 1024px,
  l: 1440px,
  xl: 1600px,
) !default;
