$colors: (
  accent-100: #f3fbfd,
  accent-500: #0ea5c7,
  accent-600: #007ca5,
  accent-700: #003e53,
  focus: #9ed8ff,
  grey-50: #fafdfe,
  grey-100: #f4f7f9,
  grey-200: #ebf3f6,
  grey-300: #ccd9e0,
  grey-400: #90a6bc,
  grey-500: #576c82,
  grey-600: #2c3d4e,
  grey-700: #001c37,
  white: #fff,
) !default;

$spacing: (
  xs: 4px,
  s: 8px,
  m: 12px,
  l: 16px,
  xl: 20px,
  xxl: 32px,
  xxxl: 60px,
) !default;

$font-sizes: (
  h1: 6rem,
  h2: 4rem,
  h3: 3.2rem,
  h4: 2.4rem,
  h5: 2rem,
  h6: 1.8rem,
  body: 1.6rem,
  small: 1.4rem,
) !default;

$font-weights: (
  regular: 400,
  bold: 700,
) !default;

$font-stacks: (
  serif:
    "-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'",
) !default;

$container-sizes: (
  400: 400px,
  600: 600px,
  1000: 1000px,
  1200: 1200px,
  1440: 1440px,
) !default;

// $type-scale: 1.125;
// $base-font-size: 14px
$breakpoints: (
  xs: 340px,
  s: 768px,
  m: 1024px,
  l: 1440px,
  xl: 1600px,
) !default;
