---
layout: default
---

<section class="flex mb-xxl">
  <div class="container container--440 s:container--1000">
    <h1 class="text-h2 s:text-h1 mb-m">Resume</h1>
  </div>
</section>

<section>
  <div class="container container--440 s:container--1000">
    <div class="grid grid-gap-xxxl my-xxl" style="--s-columns: 1fr auto">
      <div>
        <h4 class="mb-xxl color--brand">Work experience</h4>
        <div class="grid grid-gap-xxl" style="--s-columns: 1fr">
          {% for job in site.data.jobs %}
          <div class="mb-l m:pr-xl">
            <h5 class="text-h6 mb-xs">{{job.company}}</h5>
            <p class="text-small weight-bold color--grey-700">{{job.title}}</p>
            <p class="text-small mb-xs">{{job.date}}</p>
            <p class="mt-l">{{job.excerpt}}</p>
          </div>
          {% endfor %}
        </div>
      </div>

      <div>
        <h4 class="mb-xxl color--brand">Skills</h4>
        <div
          class="grid grid-gap-xxxl my-xxl"
          style=" --xs-columns: 1fr 1fr"
        >
          {% for skill in site.data.skills %}
          <div class="mb-xl">
            <h5 class="text-h6 mb-l">{{skill.title}}</h5>
            {% for skill in skill.skills %}
            <div class="text-small mb-s">{{skill}}</div>
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
