.masthead {
  display: flex;
  align-items: center;

}
.masthead__text {
  margin-left: spacing(m);
}
.masthead__name {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}
.masthead__description {
  font-size: 14px;
  line-height: 20px;
  color: $text-subdued;
  @include font-weight(regular);
  margin: 0;
}

.masthead__avatar {
  max-height: 56px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid $accent;
  background: #fff;
  display: inline-block;
  img {
    border: 4px solid #fff;
    border-radius: 50%;
  }
  &:hover {
  }
  &:active,
  &:focus {
    border-radius: 50%;
  }
}