<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="layoutContainer">
      <div class="layoutLeft layoutLeft--home">
      </div>
      <div class="layoutRight layoutRight--home">
        <div class="layoutRight__container">
          <h1>Geoff Thierman</h1>
          <h2 class="subheading spacing-stack-xxl">
            Product designer passionate about bridging the gap between design and development with design systems
          </h2>
          {% include nav.html %}
          {% include content.html %}
      </div>
    </div>
  </body>

</html>
