<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <header class="py-xxl flex align-items-center">
      <div class="container xs:container--440 s:container--1000 m:container--1000 flex flex-wrap direction-col s:direction-row items-start
      ">
        <nav class="flex space-between flex-auto gap-xxl wrap width-100 space-between">
          <div class="flex gap-m">
            {% for nav in site.data.nav %} 
              {% if nav.published %}
                <a href="{{nav.path}}" class="weight-bold text-decoration-none">{{nav.label}}</a>
              {% endif %} 
            {% endfor %}
          </div>
          <div class="flex gap-m text-h5 social-icons">
            <a href="https://dribbble.com/gthierman" target="_blank">
              <i class="fab fa-dribbble"></i>
            </a>
            <a href="https://github.com/gthierman" target="_blank">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://twitter.com/geeofftee" target="_blank">
              <i class="fab fa-twitter"></i>
            </a>
          </div>
        </nav>
      </div>
    </header>
    {{content}}
  </body>
</html>
