<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-home container">
    {% include header.html %}
    <section>
      <p class="intro-text">👋<br><br>Sed haec quis possit intrepidus aestimare tellus. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
    </section>

    <section>
      <h1>Projects</h1>
      <div class="project-menus">
        <div class="project-menus__category">
          <h1 class="project-menus__category__header">Product design</h1>
          <a href="#">Finishing my dream desk</a>
        </div>
        <div class="project-menus__category">
          <h1 class="project-menus__category__header">Code</h1>
          <a href="#">Finishing my dream desk</a>
        </div>
        <div class="project-menus__category">
          <h1 class="project-menus__category__header">Side projects</h1>
          <a href="#">Finishing my dream desk</a>
        </div>
      </div>
    </section>

    <section class="about">
      <h1>About</h1>
      <div class="about__content">
        <div class="about__avatar">
            <img src="images/avatar-square-2x.png" width="83">
        </div>
        <div class="about__text">
          Hi omnes lingua, institutis, legibus inter se differunt. Quo usque tandem abutere, Catilina, patientia nostra?
          <ul>
            <li>Git & github</li>
            <li>Git & github</li>
          </ul>
          <ul>
            <li>Git & github</li>
            <li>Git & github</li>
          </ul>
        </div>
      </div>
    </section>

  </body>

</html>
