<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-home container">
    {% include header.html %}
    <section>
      <p class="intro-text">👋<br><br>Sed haec quis possit intrepidus aestimare tellus. Nihilne te nocturnum praesidium Palati, nihil urbis vigiliae.</p>
    </section>
    <section>
        <h1>Projects</h1>
        <div class="project-menu">
          <div class="project-menu__group">
            <h1 class="project-menu__group__header">Product design</h1>
            <a href="#">Finishing my dream desk</a>
          </div>
          <div class="project-menu__group">
            <h1 class="project-menu__group__header">Code</h1>
            <a href="#">Finishing my dream desk</a>
          </div>
          <div class="project-menu__group">
              <h1 class="project-menu__group__header">Side projects</h1>
              <a href="#">Finishing my dream desk</a>
            </div>
        </div>
    </section>
    <section>
        <h1>About</h1>
        <img src="images/avatar-square-2x.png" width="83">
    </section>

  </body>

</html>
