<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-home">
    <header>
      <div class="masthead">
          <a href="/" class="avatar"><img src="/images/avatar.png" width="56" height="56" alt="avatar"></a>
          <div class="masthead__text">
            <h1 class="masthead__name">Geoff Thierman</h1>
            <h2 class="masthead__description">Product designer</h2>
          </div>
      </div>
      {% include social.html %}
    </header>
    <div class="jobs-grid">

    </div>
    <div class="case-studies">

    </div>
  </body>

</html>
