header {
  margin: spacing(60) 0  $section-padding-y 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.masthead {
  @include font-style(header-20);
  margin: 0;
}
.social-icons a {
  border: none;
  margin-right: spacing(20);
  display: inline-block;
  height: 20px;
  width: 20px;
  color: $text-subdued;
}
.social-icons a path {
  fill: $text-subdued;
}