.section {
  padding: 0 0 $section-padding-y 0;
  &:not(:last-child):after {
    background: color(grey-300);
    height: 1px;
    width: 60px;
    margin-top: $section-padding-y;
    display: block;
    content: "";
  }
}
.section-header {
  margin-bottom: $gutter;
}
.section-header--intro {
  @include font-style(body-32);
}
.section-header--styleguide {
  @include font-style(header-12);
}
.project-menus {
  @include row; 
}
.project-menus__category {
  @include column;
}
.project-menus__category__header {
  @include font-style(header-16);
  margin-bottom: spacing(12);
}
.about__content {
  display: flex;
}
.about__avatar {
  margin-right: $gutter;
}
.about__avatar img {
  border-radius: 8px;
}