.intro-text {
  margin: spacing(60) 0 spacing(120);
  @include font-style(body-32);
  color: $text-subdued;
}

section {
  &:not(:last-child):after {
    background: color(grey-300);
    height: 1px;
    width: 60px;
    margin-top: spacing(120);
    margin-bottom: spacing(120);
    display: block;
    content: "";
  }
}
.project-menus {
  display: flex; 
}
.project-menus__category {
  flex: 1 1 100%;
  margin-right: $gutter;
  &:last-child {
    margin-right: 0;
  }
}
.project-menus__category__header {
  @include font-style(header-16);
  margin-bottom: spacing(12);
}

.about__content {
  display: flex;
}
.about__avatar {
  margin-right: $gutter;
}
.about__avatar img {
  border-radius: 8px;
}